.activityNav{
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  overflow: auto;
}
.fakeContainer {
  z-index: -1;
}
.activity {
  border-bottom: 1px solid #8d8d8d;
   
  margin: 10px 15px;
  padding-bottom: 5px;
  height: 80px;
  position: absolute;
  left: 0px;
  right: 0px;
  /* pointer-events: none; */
}
.info {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  justify-content: space-between;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
.titleImg {
  margin-right: 3px;
}
.tagNav {
  display: flex;
}
.activityTag {
  border: 1px solid #8d8d8d;
  font-size: 12px;
  padding: 0 3px;
  border-radius: 3px;
  margin-right: 3px;
}
.content {
  margin-top: 5px;
}